<div class="box">
    <div>
        User: {{user}}
    </div>
    <div>
        Rating: {{rating}}
    </div>
    <div>
        Ranking: {{ranking}}
    </div>
    <div>
        Comment: {{c_text}}
    </div>
</div>