<div>
    <h1 class="title is-2">Boardgames Search</h1>
</div>
<div>
    <form method="GET" action="/search">
        <div class="field">
            <label class="label">Name: </label>
            <div class="control">
                <input type="text" name="name">
            </div>
        </div>
        <div class="field">
            <div class="control">
                <button class="button" type="submit">Find</button>
            </div>
        </div> 
    </form>
</div>